
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --secondary: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  scroll-margin-top: 100px;
}
